{% block postres %}
<div>
  <a target="_blank" href="">
    <div>
      <img
        src="static/postres/1.png"
        alt="Fresier"
        title="Fresier"
        width="500"
        height="500"
      />
      <img
        src="static/postres/3.png"
        alt="Quesillo"
        title="Quesillo"
        width="500"
        height="500"
      />
      <div>
        <img
          src="static/postres/4.png"
          alt="Torta Negra"
          title="Torta Negra"
          width="500"
          height="500"
        />
        <img
          src="static/postres/2.png"
          alt="Tres Leches"
          title="Tres Leches"
          width="500"
          height="500"
        />
      </div>
    </div>
  </a>

  {% endblock %}
</div>
